language: ruby

services:
  -postgresql

before_script:
  - psql -c "CREATE DATABASE bookmark_manager_test;" -U travis
  - psql -c "CREATE TABLE bookmarks (id SERIAL PRIMARY KEY, url VARCHAR(120), title VARCHAR(30));" -U travis
  - psql -c "SELECT CURRENT_USER;" -U travis
  - psql -c "SELECT SESSION_USER;" -U travis


script:
  - bundle exec rspec
