<html>
<head></head>
<body>
  <ul>
  <% @bookmarks.each do |bookmark| %>
    <li class='item'>
      <form action='/bookmarks/delete' method='post'>
        <input type='hidden' name='id' value='<%= bookmark.id %>'>
        <input type='submit' value='Del'>
        <a href='<%= bookmark.url %>'><%= bookmark.title %></a>
      </form>
    </li><br>
  <% end %>
  </ul>
</body>
</html>
