<html>
<head></head>
<body>
  <form action='/bookmarks' method='/post'>
    <label for='title'>Enter the title for the bookmark<br>
    <input type='text' name='title' placeholder='Title'><br></label>
    <br>
    <label for='url'>Enter url of bookmark<br>
    <input type='text' name='url' placeholder='URL'><br></label>
    <br>
    <input type='submit' value='Submit'>
  </form>
</body>
</html>
